
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */
* {
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
img {
    border: 0;
    user-select: none;
}
body, div, p, a, ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
}
* {
    background-color: transparent;
    font-size: inherit;
    color: inherit;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
body {
    color: rgb(29, 24, 24);
    line-height: 140%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    background-color: #fff;
    overflow-x:hidden;
}